#oldPasswordField, #newPasswordField, #newPasswordSecond {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-padding: 5 10 5 10;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}
#root {
    -fx-background-color: #fcf3d9;
}
#general {
    -fx-background-color: #FDFEFE;
    -fx-max-width: 300px;
    -fx-max-height: 500px;
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-radius: 10 10 10 10;
}
#general .button {
    -fx-text-fill: white;
}

#general .button:hover {
    -fx-text-fill: #ABEBC6;
}
#incorrect {
    -fx-text-fill: #CB4335;
    -fx-font-size: 10px;
}
#succesfully {
    -fx-text-fill: #000000;
}
#error {
    -fx-background-color: #d0f6e0;
    -fx-text-fill: #333333;
    -fx-font-size: 12px;
    -fx-max-width: 300px;
    -fx-max-height: 50px;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10;
    -fx-alignment: center;
}