#Button{
        -fx-background-color: #000000;
        -fx-background-radius: 5px;
        -fx-text-fill: #F4D03F;
        -fx-pref-width: 200px;
        -fx-pref-height: 40px;
        -fx-font-size: 15px;
        -fx-font-weight: bold;
}
#Button:hover{
        -fx-background-color: #F4D03F;
        -fx-text-fill: #000000;
}
#Button:focused{
        -fx-background-color: #F4D03F;
        -fx-text-fill: #000000;
}

TextField{
        -fx-prompt-text-fill: rgba(161, 126, 0, 0.9);
        -fx-font-size: 15px;
        -fx-background-color: #d1d1d1;
}

ComboBox{
        -fx-font-size: 15px;
        -fx-background-radius: 5px;
}


#inputLabel{
        -fx-font-size: 15px;
        -fx-padding-left: 5px;
}
#error{
        -fx-text-fill: red;
        -fx-font-size: 15px;
}
#errorContainer{
        -fx-background-color: rgba(255, 0, 0, 0.3);
        -fx-background-radius: 10;
        -fx-pref-width: 100px;
        -fx-pref-height: 50px
}
#labelError{
        -fx-text-fill: white;
        -fx-alignment: center;
        -fx-alignment: center;
}